<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

<script type="text/javascript">
window.location.href="https://www.minds.com/mobile";
</script>

<style type="text/css">

/* By default, hide the custom IS stuff - enabled in JS */
#custom_is, #is_url {
    display: none;
}

body {
    background: #f9fafb;
    max-width: 680px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mx_Button {
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: 80px;
    background-color: #03B381;
    color: #fff;
    cursor: pointer;
    padding: 12px 22px;
    word-break: break-word;
    text-decoration: none;
}

.mx_Center {
    justify-content: center;
}

.mx_ClearDecoration {
    text-decoration: none !important;
}

.mx_HomePage_header {
    color: #2E2F32;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mx_HomePage h3 {
    margin-top: 30px;
}

.mx_HomePage_header {
    align-items: center;
}

.mx_HomePage_col {
    display: flex;
    flex-direction: row;
}

.mx_HomePage_row {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mx_HomePage_logo {
    margin-right: 20px;
}

.mx_HomePage_container {
    display: block ! important;
    margin: 10px 20px;
}

.mx_HomePage_errorContainer {
    display: none; /* shown in JS if needed */
    margin: 20px;
    border: 1px solid red;
    background-color: #ffb9b9;
    padding: 5px;
}

.mx_HomePage_container h1,
.mx_HomePage_container h2,
.mx_HomePage_container h3,
.mx_HomePage_container h4 {
    font-weight: 600;
    margin-bottom: 32px;
}

.mx_Spacer {
    margin-top: 24px;
}

.mx_FooterLink {
    color: #0dbd8b;
    text-decoration: none;
}

.mx_Subtext {
    font-size: 14px;
}

.mx_SubtextTop {
    margin-top: 32px;
}

@media screen and (max-width: 1120px) {
  body {
      font-size: 20px;
  }
  h1 {
      font-size: 20px;
  }
  h4 {
      font-size: 16px;
  }
  .mx_Button {
    font-size: 18px;
    padding: 14px 28px;
  }
  .mx_HomePage_header {
      justify-content: left;
  }
  .mx_Spacer {
      margin-top: 24px;
  }
}



</style>

<meta name="apple-itunes-app" content="app-id=id1083446067">

</head>

<body>

  <div class="mx_HomePage_errorContainer">
    <!-- populated by JS if needed -->
  </div>

  <div class="mx_HomePage_container">
      <div class="mx_HomePage_header">
          <span class="mx_HomePage_logo">
          <p>Set up Minds Chat on iOS or Android</p>
      </div>
      <div id="step2_container" class="mx_HomePage_col mx_Spacer" style="display: none;">
        <div class="mx_HomePage_row">
          <div>
              <h2>2: Configure your app</h2>
              <a class="mx_Button" id="configure_element_button" href="#">Configure</a>
              <p class="mx_Subtext mx_SubtextTop">Tap the button above, or manually enable <em>Use custom server</em> and enter:</p>
              <p class="mx_Subtext">Homeserver: <em id="hs_url"></em></p>
              <p class="mx_Subtext" id="custom_is">Identity Server: <em id="is_url"></em></p>
          </div>
        </div>
      </div>
      <div class="mx_HomePage_row mx_Center mx_Spacer">
         <p class="mx_Spacer">
             <a id="back_to_element_button" href="#" class="mx_FooterLink">
                 Go to Desktop Site
             </a>
         </p>
      </div>
  </div>

</body>
